/*common*/
header {
    background-color: #2da39d;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: auto;
}

.breadcrumb-container {
	width: 500px;
	margin: auto;
	margin-top: 1rem;
}
ul.breadcrumb {
	padding: 10px 16px;
	list-style: none;
	background-color: transparent;
}
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}
ul.breadcrumb li+li:before {
	padding: 8px;
	color: #61d4c7;
	content: ">";
	font-weight: 700;
}
ul.breadcrumb li a {
	color: #092d4b;
	text-decoration: none;
}
ul.breadcrumb li.active {
	color: white;
	text-decoration: none;
	background-color: unset;
	display: unset;
	place-items: unset;
}
ul.breadcrumb li a:hover {
	text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    ul.breadcrumb li {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
}

#myForm{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.sub-button {
    border: none;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 0;
    cursor: pointer;
    margin-top: 30px;
}
.sub-button span {
    vertical-align: middle;
    display: inline-block;
    transition: all 0.3s ease;
    color: white;
}
.sub-button:hover span {
    animation: vanish 0.5s forwards;
}
.sub-button:hover{
    background-color: #2da39d;
}
.sub-button[disabled] {
    background-color: #ccc; 
    pointer-events: none;
}

.billTable {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #308196;
}
.billTable .blueRow td {
    color: white;
}
.billTable .blueRow {
    background-color: #2da39d;
}
.billTable td {
    border: 0.5px solid #308196;
}
.billTable tr {
    background-color: white;
}
.billTable tr:last-child {
    background-color: #2da39d;
}

@media (max-width: 800px) {
    .billTable {
        margin-left: 10px;
    }
}

label[for="dateInput"] {
    font-size: 17px;
}
input[type="date"], input[type="text"], input[type="email"], input[type="number"] {
    color: #308196;
    height: 30px;
}

option {
    color: #308196;
    height: 30px;
}
select {
    color: #308196;
    height: 30px;
}

/*tickets page*/
.calendar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.section_1 {
    text-align: left;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
}
.section_2 {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.selected-option {
    cursor: pointer;
}

.options {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 4px;
    width: 220px;
    height: 100px;
    overflow-y: auto;
}
.options input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}
.option {
    display: block;
    padding: 5px;
}

.selected-options-container {
    margin-top: 5px;
    color: #308196;
}

.Table{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .calendar {
      grid-template-columns: 1fr;
      text-align: left;
    }
    .section_1 {
        margin-left: 50px;
    }
    .section_2 {
        margin-bottom: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .Table{
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
    }
}

/*Details page*/
#fullName, #email, #email2 {
    width: 250px;
}

.classContainer {
    border: 0;
    box-shadow: 0 0 10*x 0 rgba(149, 184, 209, .5);
    border-radius: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    text-align: center;
}

.personalDetails {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 17px;
}
.personalDetails h3{
    color: #092d4b;
}
.personalDetails button {
    width: 300px;
}

.bill {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}

@media (max-width: 800px) {
    .classContainer {
      grid-template-columns: 1fr;
    }
    .bill {
        margin-top: 0;
        margin-bottom: 50px;
        margin-right: 0;
    }
}

/*Payment page*/
.ui {
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
.ui label {
    color: #092d4b;
    font-size: 17px;
    text-align: left;
}

.container {
    width: 100%;
    height: 100%;
}
.container-left {
    margin-left: 40px;
    margin-top: 50px;
    justify-items: center;
    align-items: center;
    text-align: left;
}
.container-right {
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 50px;
}

#credit-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
#credit-card ::placeholder{
    color: rgb(56, 127, 129);
}
#credit-card input {
    border: 0;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(107, 189, 182);
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    outline: 0;
    width: 90%;
}
#credit-card input [type="text"]:focus{
    border: 1px solid #95b8d1
}
#credit-card input#valid-thru-text, input#cvv-text {
    width: 80%;
}
#credit-card input[type="submit"] {
    width: 95%;
    background-color: #008cb1;
    cursor: pointer;
}

.number-container, .name-container {
    display: flex;
    flex-direction: column;
}

.expiration-container, .cvv-container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.infos-container {
    display: flex;
}

@media (max-width: 800px) {
    .ui {
      grid-template-columns: 1fr;
      overflow: hidden;
    }
    .container-right{
        display: flex;
        flex-wrap: wrap;
        margin-right: 0;
    }
}

/*confirmation page*/
.confirmed {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.thankYou {
    margin-left: 30px;
    margin-right: 30px;
}
.summaryTable {
    width: 50%;
    margin-bottom: 30px;
}

@media (max-width: 800px) {
    .summaryTable table{
        margin-left: 0;
        margin-right: 0;
    }
}